.categories{
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px auto;
}
.categories form{
    width: 290px;
    margin-bottom: 20px;
}
.categories label{
    display: block;
    font-weight: 700;
    margin-bottom: 10px;
}
.categories input, button{
    height: 35px;
    border-radius: 10px;
    padding: 0.5rem;
    border: none;
    outline: none;
}
.categories input{
    width: 210px;
}
.categories button{
    width: 70px;
    background: #0897be;
    color: white;
    margin-left: 10px;
}
.categories button:hover{
    opacity: 90%;
}
.categories .row{
    min-width: 350px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 5px gray;
    animation: 0.3s ;
}
.categories .row:hover{
    transform: scale(1.05)
}
.row p{
    font-weight: 500;
}