
.login-page {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
  }
  
  .login-page:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
  }
  
  .login-page h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #333;
    margin-bottom: 20px;
    font-size: 1.8rem;
  }
  
  .login-page form {
    display: flex;
    flex-direction: column;
  }
  
  .login-page form input,
  .login-page form button {
    height: 50px;
    padding: 0 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s;
  }
  
  .login-page form input:focus,
  .login-page form button:focus {
    outline: none;
    border-color: rgb(3, 165, 206);
  }
  
  .login-page form .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .login-page form button {
    width: 100%;
    background-color: rgb(3, 165, 206);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 45px ;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-page form button:hover {
    background-color: #007bff;
  }
  
  .login-page form a {
    text-align: center;
    text-decoration: none;
    color: #007bff;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s;
  }
  
  .login-page form a:hover {
    color: #0056b3;
  }
  